<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Shopping List</title>
    
    <link href="css/main.css" rel="stylesheet">
    <link href="css/materialize.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.css" rel="stylesheet">
    
  </head>
  <body>  
  <div ng-controller="myController as vm">
    <nav>
      <div class="nav-wrapper blue-grey darken-3">
        <a href="" class="brand-logo white-text ">Shopping List</a>
        <a><i class="ion-ios-cart"></i></a>
        <input value="{{vm.numero}}" disabled>
      </div>
    </nav>
    <table class="striped">
      <tbody class="card-panel hoverable">
        <tr class="done-{{item.done}}" ng-repeat="item in vm.itens">
          <td>{{ $index + 1 }}</td>
          <td ng-click="vm.selecionado(item)">{{item.nome | uppercase}}</td>
          <!--<td><i class="material-icons" ng-show="item.done">done</i></td>-->
          <td><i class="ion-android-done" ng-hide="item.done"></i><i class="ion-android-delete" ng-hide="!item.done" ng-click="vm.removeItem($index)"></i></td>
        </tr>
      </tbody>
    </table>
    
    <div class="container">
      <input name="nome" type="text" placeholder="Item" ng-model="vm.addItem.nome" maxlength="17" required>
      <a class="waves-effect waves-light btn-large blue-grey darken-3" ng-click="vm.adicionarItem(vm.addItem)">Add <i class="ion-plus"></i></a>
    </div>
    <div ng-include="'footer.html'"></div>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/model.js"></script>
  </body>
</html>
